@import 'helpers/reset'; //https://www.boag.online/notepad/post/css-reset
@import 'helpers/variables';

:root {
  --bg-color: #EAEAEA;

  //Colors
  --c-100: #EAEAEA; // Цвет кнопки Play на видео
  --c-200: #E5E5E5;
  --c-300: #9B9B9B;
  --c-400: #F09014;
  --c-500: #E08C2B;
  --c-600: #000;
}

.dark {
  --bg-color: #000;

  //Colors
  --c-200: #000;
  --c-300: #B5B5B5;
  --c-400: #E08C2B;
  --c-500: #2E2E2E;
  --c-600: #E5E5E5;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}